.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.sign-up-container h2 {
  margin: 10px 0;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.login-btn {
  background-color: #45a049;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 6px;
}

.login-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sign-up-container {
    margin-bottom: 100px;
  }
}
