.product-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-go-back {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 50px;
  color: #aa1814;
  margin-bottom: 20px;
}

.product-go-back:hover {
  opacity: 0.8;
}

.product-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.product-image {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.product-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.product-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.product-price {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.product-add-to-cart {
  background-color: #599e47;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.product-add-to-favorite {
  background-color: #2d3689;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.product-add-to-favorite:hover {
  background-color: #212866;
}

.product-add-to-cart:hover {
  background-color: #4d873d;
}

.product-loading,
.product-error {
  color: #aa1814;
  text-align: center;
  margin-top: 50px;
}
