.favoriteProduct {
  width: 180px;
  min-height: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f5ebdc;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.favoriteProduct:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.favoriteProduct img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.favoriteProduct h5 {
  color: #333;
  font-size: 16px;
  margin-top: 8px;
}

.favoriteProduct a {
  color: #4caf50;
  font-size: 24px;
  display: block;
  margin-top: 8px;
}

.favoriteProduct a:hover {
  color: #333;
}
